.gallery {
  list-style-type: none;
  margin: 0;
  padding: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 48px 24px;
}

.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
